<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="github" value="https://nuget.pkg.github.com/izire-io/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="GH_PKG_USERNAME_PLACEHOLDER" />
			<add key="ClearTextPassword" value="GH_PKG_PAT_PLACEHOLDER" />
		</github>
	</packageSourceCredentials>
</configuration>